<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Lamp Power Calculator</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/math.css' %}">
</head>
<body>
    <div class="container">
        <h1>Power of Lamp Filament</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="intensity">Intensity (I):</label>
                <input type="text" id="intensity" name="intensity" value="{{ I }}" placeholder="Enter current in amperes">
            </div>
            <div class="form-group">
                <label for="resistance">Resistance (R):</label>
                <input type="text" id="resistance" name="resistance" value="{{ R }}" placeholder="Enter resistance in ohms">
            </div>
            <input type="submit" class="button" value="Calculate Power">
        </form>

        {% if power %}
        <div class="result">
            <h2>Power (P) = {{ power }} watts</h2>
        </div>
        {% endif %}
    </div>
</body>
</html>